// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$my-font: "Advent Pro";

// $my-font: "Alegreya Sans";
// $my-font-sc: "Alegreya Sans SC";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Sofia Pro Regular";
//   src: font-url('/assets/fonts/SofiaProRegular.ttf') format('truetype');
//   // src: font-url('/assets/fonts/SofiaProRegular.eot');
//   // src: font-url('/assets/fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
//   //      font-url('/assets/fonts/SofiaProRegular.woff') format('woff'),
// }
// $my-font: "Sofia Pro Regular";

@font-face {
  font-family: "against myself";
  src: url('/assets/fonts/against-myself.ttf') format('truetype');
  src: url('/assets/fonts/against-myself.eot');
  src: url('/assets/fonts/against-myself.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/against-myself.woff') format('woff'),

}
$weedbay-font: "against myself";

