<table>
  <tbody id="cart-table">
    <% cart.product_orders.each do |product_order| %>
    <%= render 'product_orders/product_order', product_order: product_order %>
    <% end %>
  </tbody>
</table>
<ul class="total-cart">
  <li><strong>TOTAL:</strong></li>
  <li class="total_cell"><strong><%=cart.sub_total %></strong></li>
</ul>
<div class="d-flex justify-content-between mt-2 mb-2">
  <%= link_to "CHECKOUT", new_order_path, class: "weedbay-btn"%>
  <%= link_to 'EMPTY CART' ,cart_path(cart), method: :delete, data: {confirm: "Are you sure? Your whole cart will be empty" } %>
</div>
