.bob-banner {
  background: url(https://res.cloudinary.com/cloudhabits/image/upload/v1586215069/tumblr_mzemw0Oeo01robndho1_500_xolhcy.gif);
  background-size: cover;
  box-shadow: 0px 11px 136px rgba(238, 195, 27, 0.13);
  text-align: center;
  padding-top: 57vh;
  height: 777px;
}

/* Bob-Marley-gif */

// position: absolute;
// width: 1440px;
// height: 675px;
// left: 0px;
// top: 118px;

// background: url(tumblr_mzemw0Oeo01robndho1_500.png);
// box-shadow: 0px 11px 136px rgba(238, 195, 27, 0.13);
