.button-log {
  display: flex;
  // justify-content: center;
  width: 100%;
  height: 40px;
  font-size: larger;
  background-color: rgba(238, 195, 25, 1);
  justify-content: center;
  font-weight: medium;
}

.render-links-button {
  width: 100%;
  border-color: rgba(238, 195, 25, 1);
  display: grid;
  justify-content: space-between;
  height: 40px;

  a {
    text-decoration: none;
    color: rgba(238, 195, 25, 1);
  }
}

.render-links-button:hover {
  background-color: rgba(250,250,250,0.3);
  box-shadow: 1px 1px 10px rgba(245,245,245,0.2);
}

.cancel-button {
  color: rgb(108,117,124);
  text-decoration: underline;
}

.cancel-button:hover {
    text-decoration: none;
    color: rgba(238, 195, 25, 1);
  }
