.navbar-weedbay {
  justify-content: space-between;
  background-color: rgba(43,43,43,1);
}

.navbar-weedbay .navbar-collapse {
  flex-grow: 0;
}

.navbar-weedbay .navbar-brand img {
  width: 50px;
}

.navbar-brand {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

#cart-dropdown {
  position: absolute;
  right: 63px;
  top: 65px;
  width:360px;
  display: none;
  color:white;
  border:1px solid #ced4da;
  background-color:#EEC319;
}

.total_line {
  border-top: 2px solid green;
}

.fa-shopping-cart {
  color:#EEC319;
}

.menu-list {
  background-color: #eec319;
  background-clip: initial;
  border: 1px solid #495057;
  border-radius: 3px;
}

#dropdownMenuLink img {
  border-radius: 30%;
}

.img-avatar {
  vertical-align: middle;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 40%;
}
