.navbar-weedbay {
  justify-content: space-between;
  background-color: rgba(43,43,43,1);

}

.navbar-weedbay .navbar-collapse {
  flex-grow: 0;
}

.navbar-weedbay .navbar-brand img {
  width: 40px;
}
