.search-form {
  display: flex;
  align-items: center;
  // position: absolute;
  width: 700px;
  // height: 187px;
}

#search-card-id {
  background-color: rgba(21,21,21,0.01);
  // border-radius: 18px;

  // position: absolute;
  width: 56rem;
  height: 210px;
  align-items: center;
  margin: 20px;

  h1 {
    font-family: $my-font;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.02em;
    /* yellow */
    color: #EEC319;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);

  }
}

.search-card {
  background: rgba(0,0,0,0.36);

  // border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 16px;
  width: 900px;
}

.simple-form {
    display: flex;
    justify-content: center;
  }

#search_query {
  border-radius: 4px;
}

/* search-text */

// font-family: Advent Pro;
// font-style: normal;
// font-weight: 500;
// font-size: 52px;
// line-height: 62px;
// letter-spacing: 0.05em;
