<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <h1>Create product</h1>
        <%= render 'form', product: @product %>
    </div>
  </div>
</div>
